sudo: required
dist: trusty

language: cpp

before_install:
  - sudo apt-get update -qq

script:
  - mkdir build
  - cd build
  - cmake -DCMAKE_CXX_COMPILER=$COMPILER ..
  - cmake --build .
  - ctest

matrix:
 include:
  - os: linux
    compiler: g++
    env: COMPILER=g++-6 BUILD=Debug ARCH=64
    addons:
     apt:
      sources:
       - ubuntu-toolchain-r-test
      packages:
       - g++-6
  - os: linux
    compiler: g++
    env: COMPILER=g++-6 BUILD=Release ARCH=64
    addons:
     apt:
      sources:
       - ubuntu-toolchain-r-test
      packages:
       - g++-6
       - p7zip-full
  - os: linux
    compiler: g++
    env: COMPILER=g++-5 BUILD=Debug ARCH=64
    addons:
     apt:
      sources:
       - ubuntu-toolchain-r-test
      packages:
       - g++-5
  - os: linux
    compiler: g++
    env: COMPILER=g++-5 BUILD=Release ARCH=64
    addons:
     apt:
      sources:
       - ubuntu-toolchain-r-test
      packages:
       - g++-5
